venv/
__pycache__/
instance/
# 
library_app/static/images/quizes/*
!library_app/static/images/quizes
!library_app/static/images/quizes/default.svg
library_app/static/images/questions/*
# 
.env
test.py
test.html