<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/atom.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('student_app.static', filename='css/student_report.css') }}">
        <title>Результати вікторини</title>
    </head>
    <body>
        <header>
            <a href="/" class="logo-title">
                <img src="{{ url_for('static', filename= 'images/atom.svg') }}">
                <h1>GPTQuiz</h1>
            </a>
            <div class="links">
                <a href="/execution/" class="enter-code">Код</a>
                <a href="/" class="login">Додому</a>
            </div>
        </header>
        
        <h2 class="endText">Тест завершено!</h2>

        <div class="main-info">
            <div class="short-info">
                <div class="names">
                    <h2>{{ quiz.name }}</h2>
                    {% if quiz %}
                        <h3>Автор: {{ quiz.user.surname }} {{ quiz.user.name }}</h3>
                    {% endif %}
                    <h3>Вчитель: {{ name_teacher }}</h3>
                </div>
                <div class="total-questions">
                    <h1>{{ quiz.questions|length }}</h1>
                    <p>запитань</p>
                </div>                
            </div>
            <hr>
            <div class="main-short-info">
                <div class="grade">
                    <h4>Сума балів</h4>
                    <div>
                        <span>{{ report.score }}</span>
                        <span>/</span>
                        <span>{{ report.max_score }}</span>
                    </div>
                </div>
                <div class="grade">
                    <h4>Загальний час</h4>
                    <div>
                        <span>{{ average_time }} <span style="color: white;">с</span></span>
                    </div>
                </div>
                <div class="grade">
                    <h4>Оцінка</h4>
                    <div>
                        <span>{{ report.grade }}</span>
                        <span>/</span>
                        <span>12</span>
                    </div>
                </div>
                <div class="grade">
                    <h4>Результат</h4>
                    <div>
                        <span>{{ report.percentage }}</span>
                        <span style="color: white;">%</span>
                    </div>
                </div>
            </div>
            <div class="corr-wrong">
                {% for question in questions %}
                    {% if question.is_correct %}
                        <div class="correcta answer"></div>
                    {% elif question.is_skipped or question.your_answer[0] == "Пропущений" or question.your_answer == "Пропущений..." %}
                        <div class="skippeda answer"></div>
                    {% else %}
                        <div class="wronga answer"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="answersCorrWron">
                <div class="section1">
                    <div>
                        <span>{{ report.correct_answers }}</span><p>правильних</p>
                    </div>
                    <div>
                        <span>{{ report.wrong_answers - skipped_answers }}</span><p>неправильних</p>
                    </div>
                </div>
                <div class="section1">
                    <div>
                        <span>{{ skipped_answers }}</span><p>пропущено</p>
                    </div>
                </div>
            </div>
        </div>
        {% if questions|length > 0 %}
            <div class="questions">
                {% for q in questions %}
                    <div class="question {% if q.is_correct %}correct{% elif q.is_skipped or q.your_answer[0] == 'Пропущений' %}skipped{% else %}wrong{% endif %} }}">
                        <h3>Запитання №{{ loop.index }}:</h3>
                        <h4>{{ q.text }}</h4>
                        <div class="answers">
                            <p>
                                Ваша відповідь: 
                                {% if q.type == "enter answer" %}
                                    {{ q.your_answer }}
                                {% else %}
                                    {% if q.is_skipped  %}
                                        {{ q.your_answer }}
                                    {% else %}
                                        {% for answer1 in q.your_answer %}
                                            {{ answer1 }};
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </p>
                            <p>
                                Правильна відповідь: 
                                {% if q.type == "enter answer" %}
                                    {{ q.correct_answer }}
                                {% else %}
                                    {% if q.is_skipped %}
                                        {{ q.correct_answer }}
                                    {% else %}
                                        {% for answer1 in q.correct_answer %}
                                            {{ answer1 }};
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                        <div class="right-up-corner">
                            <p class="points">{{ q.time_spent }} <span style="color: white;">сек</span></p>
                            <p class="points">{% if q.is_correct %}1{% else %}0{% endif %}/1</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>